
<body>
  <div class="header">
    <h1>Welcome to Dine Direct</h1>
  </div>
<div class="search-container">
<div class="search-bar">
  <input type="text" placeholder="Search" aria-label="Search">
  <button type="button">Search</button>
</div>
</div>
<div class="img-container">
  <div class="dine-in">
  <img src="/assets/images/Dine_in.png" [ngClass]="{responsive:isResponsive}" alt="Dine In" >
  <p>Dine In</p>
  </div>
  <div class="take-out">
  <img src="/assets/images/Take_out.png" alt="Take Out">
  <p>Take Out</p>
  </div>
</div>
<div class ="container-box"></div>
<app-booking></app-booking>
</body>


 