<div class="bg">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'small'" nzTip="Sending...">
    <div class="parent">
      <div class="child">
        <h1>Forgot Password</h1>
        <form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your email!">
              <nz-input-group nzPrefixIcon="mail">
                <input type="text" nz-input formControlName="email" placeholder="Email" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <button nz-button [nzType]="'primary'" class="forgot-password" type="submit">
            Send Reset Link
          </button>
          <a routerLink="/user/login">Back to Login</a>
        </form>
      </div>
    </div>
  </nz-spin>
</div>
