<div *ngIf="!isUserLoggedIn">
  <nz-header class="navbar" Type="flex" style="background-color: rgb(45, 150, 220);">
    <div class="logo">
      <span>DINE DIRECT</span>
    </div>
    <div class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/user/signup">Sign Up</a>
      <a routerLink="/user/login">Log In</a>
    </div>
  </nz-header>
</div>

<div *ngIf="isUserLoggedIn">
  <nz-header class="navbar" Type="flex" style="background-color: rgb(45, 150, 220);">
    <div class="logo">
      <span>DINE DIRECT</span>
    </div>
    <div class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/user/dashboard">Dashboard</a>
      <a routerLink="logout()">Log Out</a>
    </div>
  </nz-header>

  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/user/profile" routerLinkActive="active">Profile</a>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>
</div>
<router-outlet></router-outlet>