<div class="header">
    <h1>Welcome to Dine Direct</h1>
  </div>
  
  <div class="search-container">
    <div class="search-bar">
      <input type="text" placeholder="Search" aria-label="Search">
      <button type="button">Search</button>
    </div>
  </div>
  
  <div class="img-container">
    <div class="dine-in">
      <img src="/assets/images/Dine_in.png"  alt="Dine In">
      <p>Dine In</p>
    </div>
    <div class="take-out">
      <img src="/assets/images/Take_out.png" alt="Take Out">
      <p>Take Out</p>
    </div>
  </div>
  
  <div class="container-box-wrapper">
    <div class="container-box"></div>
  </div>
  
  <div class="booking-box">
    <div class="booking-header">
      <h1>Book your table here.</h1>
    </div>
    <div class="booking">
      <input type="date">
      <input type="time">
      <input type="number" min="1" max="20" placeholder="Guests">
      <div class="search-bar">
        <input type="text" placeholder="Search">
        <button>Search</button>
      </div>
    </div>
  </div>
  
